<h1>Entries#edit</h1>
<p>Find me in app/views/entries/edit.html.erb</p>

<center>
<h1> Edit </h1>

<%= render 'form' %>

<br>
<%= link_to "HOME INDEX", entries_path %> <br>
<%= link_to "NEW ENTRY", new_entry_path %> <br>
<%= link_to "FRONT PAGE DASHBOARD", root_path %>
</center>
