
<div class="grid grid-pad">

  <div class="parallax" id="center-white">
    <br>
    <h2> Below you can find links to the rest of the site.</h2>
    <br>

    <%= link_to "SEE THE DAYS", entries_path %> <br>
    <%= link_to "ADD A NEW DAY", new_entry_path %> <br>

  </div>

</div>
